//keyframes
@keyframes changed-scale{
    0%{
        color: red;
        scale: 0.6;
    }
    25%{
        color: orange;
        scale: 0.8;
    }
    50%{
        color: red;
        scale: 1;
    }
    75%{
        color: orange;
        scale: 0.8;
    }
    100%{
        color: red;
        scale: 0.6;
    }
}